/* Non-classes */

body  {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    /* display */
    display: flex;
    flex-direction: column;
}

img {
    flex-shrink: 0;
}

button{
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: #F9FAF8;
    font-weight: 600;
    padding: 8px 16px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-weight: 400;
}


/* classes */
.upper {
    background: #1F2937;
    color: #F9FAF8;
}

.header {
    height: 72px;
    font-weight: bold;
    /* display */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 1;
    padding: 32px;
}

.info-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    /* display */
    margin: 16px 30px;
    padding-top: 16px;
}

.info-section {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin: 16px;
    padding: 32px;
}

.quote-section {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    background-color: #E5E7EB;
    padding: 32px;
}

.cta-section {
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    background: #3882F6;
    margin: 16px 0 16px;
}

button .cta-section{
    border-color: #F9FAF8;
    border-style: solid;
}

.footer {
    color: #F9FAF8;
    background-color: #1F2937;
}